# DATA TYPES AND STRUCTURES

1.What are data structures, and why are they important ?
- Data structures are organized ways to store, manage, and retrieve data efficiently.
They define how data is arranged in memory and how operations like insertion, deletion, searching, and sorting are performed.

Importance:

- Improves efficiency and speed of programs.

- Helps in organizing data logically.

- Essential for algorithms (like searching, sorting, graph traversal, etc.).

- Used in databases, operating systems, and web development.

Example:
A list in Python stores multiple items together:

numbers = [10, 20, 30, 40]


Here, numbers is a data structure that holds integers.

2. Explain the difference between mutable and immutable data types with examples ?

- Mutable Data Types:
Can be changed after creation.
Examples → list, set, dict.

- Immutable Data Types:
Cannot be changed after creation.
Examples → tuple, string, int.

Example:

-  Mutable
a = [1, 2, 3]
a[0] = 10  # allowed

- Immutable
b = (1, 2, 3)
 b[0] = 10 → ❌ Error


So, lists are mutable, while tuples are immutable.

3. What are the main differences between lists and tuples in Python ?

**Lists**

- Mutable: You can change, add, or remove items after the list is created.
- syntax: Defined using square brackets, e.g., my_list = [1, 2, 3].
- Methods: Supports various methods like append(), remove(), and sort().

**Tuples**

- Immutable: Once created, you cannot modify, add, or remove items.
- Syntax: Defined using parentheses, e.g., my_tuple = (1, 2, 3).
- Performance: Generally faster than lists for iteration due to their immutability.

4.Describe how dictionaries store data ?

- Dictionaries in Python store data as key-value pairs using a hash table internally.
Each key is unique and maps to a specific value.

Example:

student = {'name': 'Aman', 'age': 20, 'city': 'Delhi'}


'name', 'age', 'city' → Keys

'Aman', 20, 'Delhi' → Values

- Key Point:
Data is accessed quickly using the key instead of an index:

print(student['name'])
  -  Output: Aman

5.Why might you use a set instead of a list in Python ?

- A set is used instead of a list when:

You need unique elements (no duplicates).

You want faster membership testing (in keyword).

Order of elements doesn’t matter.

Example:

nums = [1, 2, 2, 3]

unique_nums = set(nums)

print(unique_nums)  # {1, 2, 3}


Sets automatically remove duplicate values.

6.What is a string in Python, and how is it different from a list ?

- A string is a sequence of characters enclosed in quotes (single, double, or triple).
Example: my_string = "Hello, World!"

- A list is an ordered collection of items that can be of different data types, enclosed in square brackets.
Example: my_list = [1, "Hello", 3.14]

7.How do tuples ensure data integrity in Python ?

- Tuples are immutable, which means their elements cannot be changed, added, or removed once created.
This immutability ensures that data remains consistent and safe throughout the program.

Example:

coordinates = (10, 20)
 coordinates[0] = 15 → ❌ Error


Hence, tuples are ideal for read-only or constant data.

8.What is a hash table, and how does it relate to dictionaries in Python ?

- A hash table is a data structure that stores data in key-value pairs.
It uses a hash function to compute an index (hash) for each key, allowing fast data access.

In Python, dictionaries are implemented using hash tables.

Example:

student = {'id': 101, 'name': 'Ravi'}


Here, each key ('id', 'name') is hashed to store and retrieve values quickly

9.Can lists contain different data types in Python ?

- Lists in Python can store elements of different data types — integers, strings, floats, booleans, etc.

Example:

mixed_list = [1, "Hello", 3.14, True]


This flexibility makes lists very useful for general-purpose data storage.

10. Explain why strings are immutable in Python ?

- Strings are immutable because each time a modification is made, a new string object is created.
This helps with:

- Memory safety

- Performance optimization

- Thread safety (same string can be used by multiple functions safely)

Example:

s = "hello"
s = s + " world"  # new string created
print(s)  # hello world


The original "hello" remains unchanged; a new string is created.

11.What advantages do dictionaries offer over lists for certain tasks ?

- Dictionaries are more powerful than lists when you need to associate unique keys with specific values and perform fast lookups.

Advantages:

Fast Access: Accessing data by key is very quick (O(1) time).

1. Key-based Lookup: You don’t need to remember positions like in lists.

2. Readable Code: Data is more meaningful with keys.

3. Dynamic Updates: You can easily add or remove key-value pairs.

Example:

- Using dictionary
student = {'name': 'Rohit', 'age': 21}
print(student['age'])  # 21

- Using list (harder to understand)
student_list = ['Rohit', 21]
print(student_list[1])  # 21


Hence, dictionaries are preferred for structured data.

12.Describe a scenario where using a tuple would be preferable over a list ?

- Use a tuple when you want to store constant, unchangeable data — i.e., data that should not be modified after creation.

Example:

DAYS = ('Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday')


Here, days never change — so a tuple ensures data safety and better performance.

13.How do sets handle duplicate values in Python ?

- Sets automatically remove duplicate elements because they only store unique values.
When duplicates are inserted, Python ignores them.

Example:

numbers = {1, 2, 2, 3, 3, 3}
print(numbers)


✅ Output:

{1, 2, 3}

14. How does the “in” keyword work differently for lists and dictionaries ?

- In lists, "in" checks if a value exists in the list.

In dictionaries, "in" checks if a key exists in the dictionary (not the value).

Example:

 List
- nums = [10, 20, 30]
- print(20 in nums)   
-  True → value check


 Dictionary

- student = {'name': 'Amit', 'age': 25}
- print('name' in student)  # True → key check
- print('Amit' in student)  # False → values not checked

15.Can you modify the elements of a tuple? Explain why or why not ?

- ❌ No, you cannot modify elements of a tuple because tuples are immutable.
Once created, their elements cannot be changed, added, or removed.

Example:

t = (10, 20, 30)
t[0] = 100  # ❌ TypeError


If modification is needed, convert it to a list:

- temp = list(t)

- temp[0] = 100
- t = tuple(temp)


So, tuples protect data from accidental changes.

16.What is a nested dictionary, and give an example of its use case ?

- A nested dictionary is a dictionary that contains another dictionary as a value.
It helps represent complex structured data like student records, products, or users.

Example:

- student = {
  'name': 'Ravi',


  'marks': {'math': 90, 'science': 85, 'english': 92}
}


**Accessing nested data:**

- print(student['marks']['science'])  # 85




Useful for storing related data hierarchically.

17. Describe the time complexity of accessing elements in a dictionary ?

- **Average Case**: O(1) (constant time)

- **Worst Case**: O(n) (rare, when many keys have same hash)

Dictionaries use **hash tables**, so element access by key is extremely fast on average.

Example:

person = {'name': 'Aman', 'age': 22}

print(person['age'])  # O(1) operation.

18. In what situations are lists preferred over dictionaries ?

- **Use lists when**:

1. The data has no specific key (only ordered items).

2. You need to store duplicates.

3. You want to maintain sequence and order.

4. You will access data by position (index).

Example:

fruits = ['apple', 'banana', 'cherry']


If only order and index matter, a list is simpler and more memory-efficient than a dictionary.

19.Why are dictionaries considered unordered, and how does that affect data retrieval ?

- Earlier versions of Python (<3.7) didn’t maintain the order of key-value pairs.
Even now, dictionaries are conceptually **unordered** because they depend on **hashing**, not index positions.

- Effect:
You can’t rely on the **order of insertion** for logical operations (though modern Python shows insertion order for convenience).

Example:

d = {'a': 1, 'b': 2, 'c': 3}
print(d)


The order of keys doesn’t affect lookup since you always use keys, not positions, to access data.

20.Explain the difference between a list and a dictionary in terms of data retrieval.

- Data Structure Type

**List**: An ordered collection of items, indexed by their position (0, 1, 2, etc.).

**Dictionary**: An unordered collection of key-value pairs, where each value is accessed via a unique key.

**Data Retrieval **

**List**:
Access items by their index.
Example: my_list[0] retrieves the first item.
Retrieval time is O(1) for accessing an item by index.

**Dictionary:**

- Access values using keys.
- Example: my_dict['key'] retrieves the value associated with 'key'.
- Retrieval time is typically O(1) due to hashing.

# Practical Questions

In [2]:
'''1.Write a code to create a string with your name and print it.'''
name = "Akash Sharma"
print(name)

Akash Sharma

In [3]:
'''2. Write a code to find the length of the string "Hello World" '''
text = "Hello World"
print(len(text))

11

In [4]:
'''3. Write a code to slice the first 3 characters from the string "Python Programming" '''

text = "Python Programming"
print(text[:3])

Pyt

In [5]:
'''4.Write a code to convert the string "hello" to uppercase '''

word = "hello"
print(word.upper())

HELLO

In [6]:
'''5.  Write a code to replace the word "apple" with "orange" in the string "I like apple" '''

sentence = "I like apple"
new_sentence = sentence.replace("apple", "orange")
print(new_sentence)

I like orange

In [7]:
'''6.Write a code to create a list with numbers 1 to 5 and print it '''

numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

In [8]:
'''7. Write a code to append the number 10 to the list [1, 2, 3, 4] '''

numbers = [1, 2, 3, 4]
numbers.append(10)
print(numbers)

[1, 2, 3, 4, 10]

In [9]:
'''8.Write a code to remove the number 3 from the list [1, 2, 3, 4, 5] '''

numbers = [1, 2, 3, 4, 5]
numbers.remove(3)
print(numbers)

[1, 2, 4, 5]

In [10]:
'''9.Write a code to access the second element in the list ['a', 'b', 'c', 'd'] '''

letters = ['a', 'b', 'c', 'd']
print(letters[1])

b

In [11]:
'''10.Write a code to reverse the list [10, 20, 30, 40, 50]. '''

numbers = [10, 20, 30, 40, 50]
numbers.reverse()
print(numbers)

[50, 40, 30, 20, 10]

In [12]:
'''11.Write a code to create a tuple with the elements 100, 200, 300 and print it. '''

numbers = (100, 200, 300)
print(numbers)

(100, 200, 300)

In [13]:
'''12.Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow'). '''

colors = ('red', 'green', 'blue', 'yellow')
print(colors[-2])

blue

In [14]:
'''13.Write a code to find the minimum number in the tuple (10, 20, 5, 15). '''

numbers = (10, 20, 5, 15)
print(min(numbers))

5

In [15]:
'''14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit'). '''

animals = ('dog', 'cat', 'rabbit')
print(animals.index('cat'))

1

In [16]:
'''15.Write a code to create a tuple containing three different fruits and check if "kiwi" is in it. '''

fruits = ('apple', 'banana', 'orange')
print('kiwi' in fruits)

False

In [17]:
'''16.Write a code to create a set with the elements 'a', 'b', 'c' and print it. '''

letters = {'a', 'b', 'c'}
print(letters)

{'b', 'c', 'a'}

In [18]:
'''17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}. '''

numbers = {1, 2, 3, 4, 5}
numbers.clear()
print(numbers)

set()

In [19]:
'''18.Write a code to remove the element 4 from the set {1, 2, 3, 4}. '''

numbers = {1, 2, 3, 4}
numbers.remove(4)
print(numbers)

{1, 2, 3}

In [20]:
'''19.Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}. '''

set1 = {1, 2, 3}
set2 = {3, 4, 5}
print(set1.union(set2))

{1, 2, 3, 4, 5}

In [21]:
'''20.Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}. '''

set1 = {1, 2, 3}
set2 = {2, 3, 4}
print(set1.intersection(set2))

{2, 3}

In [22]:
'''21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it. '''

person = {"name": "John", "age": 25, "city": "New York"}
print(person)

{'name': 'John', 'age': 25, 'city': 'New York'}

In [23]:
'''22.Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}. '''

person = {'name': 'John', 'age': 25}
person['country'] = 'USA'
print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [24]:
'''23.Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}. '''

person = {'name': 'Alice', 'age': 30}
print(person['name'])

Alice

In [25]:
'''24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.'''

person = {'name': 'Bob', 'age': 22, 'city': 'New York'}
person.pop('age')
print(person)

{'name': 'Bob', 'city': 'New York'}

In [26]:
'''25.Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.'''

person = {'name': 'Alice', 'city': 'Paris'}
print('city' in person)

True

In [27]:
'''26.Write a code to create a list, a tuple, and a dictionary, and print them all.'''

my_list = [1, 2, 3]
my_tuple = (4, 5, 6)
my_dict = {'a': 7, 'b': 8, 'c': 9}

print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [1, 2, 3]
Tuple: (4, 5, 6)
Dictionary: {'a': 7, 'b': 8, 'c': 9}

In [28]:
'''27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
result.(replaced)'''

import random

numbers = random.sample(range(1, 101), 5)
numbers.sort()
print(numbers)

[1, 35, 38, 61, 72]

In [29]:
'''28.Write a code to create a list with strings and print the element at the third index.'''

words = ["apple", "banana", "cherry", "date", "fig"]
print(words[3])

date

In [30]:
'''29. Write a code to combine two dictionaries into one and print the result.'''

dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}

combined = {**dict1, **dict2}
print(combined)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [31]:
'''30. Write a code to convert a list of strings into a set.'''

fruits = ["apple", "banana", "cherry", "apple"]
unique_fruits = set(fruits)
print(unique_fruits)

{'apple', 'cherry', 'banana'}